.side{
  background-color: black;
  height: 100%;
  width: 6%;
  
}
.btn{
  position: relative;
    /* display: flex; */
    left: 51%;
}
.main{
  border: 2px solid gray;
  padding: 21px;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  border-radius: 20px;
}